@import '@styles/base/index'

.header
  display: flex
  flex-direction: column
  padding: 1em
  gap: 0.5em
  margin-bottom: 1.5rem

  h1
    text-align: center
    color: $primary-text
    text-shadow: $box-shadow-primary-text
    font-size: $size-text-title

  h2
    text-align: center
    color: $accent
    text-shadow: $box-shadow-accent-text
    font-size: $size-text-big 